:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-blue-color: #2196f3;
  --accent-white-color: #ffffff;
  --primary-page-bg-color: #ffffff;
  --secondary-page-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-page-bg-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

/* logo */
.logo.link {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
a .accent {
  color: var(--accent-blue-color);
}
.accent-white {
  color: var(--accent-white-color);
}

/* site nav */
.site-nav.link.current {
  color: var(--accent-blue-color);
}
.site-nav.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav.link:hover,
.site-nav.link:focus,
.link.adress:hover,
.link.adress:focus {
  color: var(--accent-blue-color);
}

.link.adress {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* main */
.hero {
  background-color: var(--footer-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-white-color);
}

/* для заголовков Н2 */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

.features-list-title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.team-list-title,
.project-list-title {
  font-weight: 500;
  line-height: 1.18;
  color: var(--title-text-color);
}
.team {
  background-color: var(--secondary-page-bg-color);
}

/* footer */
.footer {
  background-color: var(--footer-bg-color);
}
.footer-adress {
  font-style: normal;
  color: var(--accent-white-color);
}
.footer-link-adress {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-adress:hover,
.footer-link-adress:focus {
  color: var(--accent-blue-color);
}

/* buttons */
.button {
  background-color: var(--secondary-page-bg-color);
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(title-text-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-blue-color);
  color: var(--accent-white-color);
}
.main-button {
  background-color: var(--accent-blue-color);
  color: var(--accent-white-color);
}
